body {
    font-family: 'Open Sans', sans-serif;
}

.block {
    border: 1px solid red;
    width: 470px;
    height: 450px;
    border-radius: 10px;
}

.h4 {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-left: 53px;
}

.block1 > .child-block1 {
        margin: 33px;
        height: 38px;
        width: 370px;
        left: 50px;
        top: 135px;
        border-radius: 0px;
        border-bottom: 1px solid #BDBDBD
}

.block2 > .child-block2 {
        margin: 33px;
        height: 38px;
        width: 370px;
        left: 50px;
        top: 206px;
        border-radius: 0px;
        border-bottom: 1px solid #BDBDBD
}

.block3 > .child-block3 {
        margin: 33px;
        height: 38px;
        width: 370px;
        left: 50px;
        top: 277px;
        border-radius: 0px;
        border-bottom: 1px solid #BDBDBD
}

.block4 > .child-block4 {
        margin-top: 110px;
        margin-left: 0px;
        width: 470px;
        height: 60px;
        left: 100px;
        top: 500px;
        background-color: #EC7979;
        border-radius: 10px;
}

.block4 > .btn {
        font-family: Open Sans;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
}

    outline: none;
    border: 1px solid white;
}