body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin 0 0 45px 0;
    text-align: center;
}

h2 span {
    color: #EC7979;
}

.form-wrap {
    padding: 30px 50px 50px;
}

form {
    width: 100%;
    max-width: 450px;
    margin: 50px;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
}

input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px 0;
}

button {
    cursor: pointer;
    color: #fff;
    background-color: #EC7979;
    width: 100%;
    padding: 25px;
    border: 0;
}